[user]
	name = josevazf
	email = josevaz.fco@gmail.com
[init]
	defaultBranch = main
[push]
	default = current
    autoSetupRemote = true
[alias]
    a = add
    br = branch
    ci = commit
    st = status
    ps = push
    sts = stash
    ft = fetch
    pl = pull
    co = checkout
    unstage = restore --staged
    aliases = config --get-regexp alias
