[user]
	name = josevazf
	email = josevaz.fco@gmail.com
[init]
	defaultBranch = main
[push]
	default = current
    autoSetupRemote = true
[alias]
    a = add
    co = checkout
    br = branch
    ci = commit
    st = status
    unstage = restore --staged
    aliases = config --get-regexp alias
